@import url('https://fonts.google.com/specimen/Alfa+Slab+One?utm_source=developers.google.com&utm_medium=referral');


.header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(58,12,163);
    z-index: 11;
}


.header nav li a {
    position: sticky; 
    font-family: 'Archivo Black';
    text-decoration: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: aliceblue;
}

.header_logo{
    font-family: 'Archivo Black';
    color: aliceblue;
    padding-right: 5px;
    font-size: 20px;
    font-weight:bold;

}


 .menu-btn {
    padding: 20px;
    cursor: pointer;
    transition: 0.4s;
}

 .menu-btn.rotate .bar-1 {
    transform: rotate(40deg);
}

.header .menu-btn.rotate .bar-2 {
    opacity: 0;
}

.header .menu-btn.rotate .bar-3 {
    transform: rotatate(-40deg);
    margin-top: -16px;

}

.header .menu-btn .bar {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 0 0 5px;
}

@media (min-width: 1024px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 30px;
    }

    header .menu-btn {
        display: block;
        color: white;
    } 

    .header nav {
        display: block;
        background-color: white;
        /* background-color: transparent; */
    }

   

    .header nav ul {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 20px;
        right: 30px;
        padding: 0;
    }

    .header nav ul li {
        
        margin-bottom: 0;
        margin-right: 20px;
    }

    .header nav ul li button {
        text-transform: capitalize;
        font-size: 18px;
    }

}