@import url('https://fonts.google.com/specimen/Alfa+Slab+One?utm_source=developers.google.com&utm_medium=referral');


.header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: plum;


}


.header nav li a {
    position: sticky; 
    font-family: 'Archivo Black';
    text-decoration: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: aliceblue;
}

.header_logo{
    font-family: 'Archivo Black';
    color: aliceblue;
    padding-right: 5px;
    font-size: 20px;
    font-weight:bold;

}




.header .menu-btn {
    padding: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.header .menu-btn.rotate .bar-1 {
    transform: rotate(40deg);
}

.header .menu-btn.rotate .bar-2 {
    opacity: 0;
}

.header .menu-btn.rotate .bar-3 {
    transform: rotatate(-40deg);
    margin-top: -16px;

}

.header .menu-btn .bar {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 0 0 5px;
}